* {
  margin: 0;
  padding: 0;
}

.main {
  margin: 40px auto 149px;
  width: 1140px;
  display: flex;
}

.c {
  margin-left: 117px;
  margin-top: 83px;
  max-width: 753px;
}

._404 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 21px;
}

.main_logo {
  width: 456px;
  height: 456px;
}
