* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
  font-family: "Circe";
  font-size: 24px;
  line-height: 35px;
}

.box {
  max-width: 1140px;
  margin: 40px auto 156px;
  display: flex;
}

.box_content {
  width: 560px;
  margin-right: 117px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-family: "Montserrat";
  font-size: 40px;
  line-height: 49px;
}

/* SLIDER */
.slider {
  max-width: 375px;
  margin-top: 100px;
}

.courses {
  display: flex;
  max-width: 375px;
}

.courses_container {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 324px;
}

.courses_line {
  display: flex;
  position: relative;
  right: 0;
  transition: all ease 1s;
}

.course_card {
  cursor: pointer;
  height: 306px;
  max-width: 267px;
  width: 100%;
  border: 1px solid #000000;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0px 0px 15px;
  background-color: #ffffff;
  margin-right: 20px;
}

.course_card:first-child {
  margin-right: none;
}

.course_description_container {
  padding-left: 10px;
}

.course_card_name {
  margin-top: 9px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}
.course_card_description {
  margin-top: 5px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.arrows {
  height: 50px;
  cursor: pointer;
  margin-top: 150px;
}

.main_container {
  margin: 0 auto;
}

.slider_btns_line {
  height: 16px;
  width: 124px;
  fill: #000000;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 25px;
}

.slider_btn_list {
  list-style: none;
  display: flex;
}

.slider_btn_active {
  background: #272727 !important;
}

.slider_btn_list li {
  cursor: pointer;
  margin-right: 20px;
  width: 15px;
  height: 15px;
  background: #324b4f80;
  border-radius: 50%;
}

.slider_btn_list li:last-child {
  margin-right: 0;
}
/* SLIDER */
