* {
  margin: 0;
  padding: 0;
}

header,
footer {
  background: linear-gradient(90deg, #360033 0%, #0b8793 100%);
}

/* HEADER */
.header {
  display: flex;
  justify-content: end;
  margin: 0 auto;
  width: 1140px;
  padding: 11px 0px 12px;
}

.header_menu {
  display: flex;
  gap: 142px;
}

.header_menu_box {
  display: flex;
  gap: 80px;
}

.header_menu_box_link,
.header_menu_action {
  font-family: "Circe";
  font-size: 32px;
  line-height: 47px;
  color: #ffffff;
  text-decoration: none;
}

.header_menu_action {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #232222;
  padding: 10px 15px;
  width: 173px;
}
/* HEADER */

/* ---FOOTER--- */
.footer {
  display: flex;
  justify-content: space-between; /* ВЕРНИСЬ СЮДА */
  width: 1140px;
  margin: 0 auto;
  padding: 22.5px 0 7.5px;
}

.footer_box:first-child {
  width: 270px;
}

.footer_box_title {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer_box_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_box_list_item,
.footer_info_text,
.footer_box_text {
  text-decoration: none;
  font-family: "Circe";
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
}

.footer_navigate img {
  width: 367px;
  height: 119px;
}

.footer_info {
  width: 463px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.footer_info_box {
  display: flex;
  gap: 20px;
}

.footer_info_box_item img {
  width: 35px;
  height: 35px;
}

.footer_box_text {
  font-size: 16px;
  line-height: 24px;
  width: 367px;
}

.footer_box_div div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer_box_div_content img {
  width: 24px;
  height: 24px;
}
/* ---FOOTER--- */
